<form role="form" class="text-left"> 
	<div class="form-group"> 
		<label class="control-label" for="form-song-title">Title</label>                 
		{{input type="text" class="form-control" id="form-song-title" placeholder="Enter title" value=(mut model.songTitle) }}
	</div>
	<div class="form-group"> 
		<label class="control-label" for="form-song-albumid">Album Id</label>                 
		<select id="form-song-albumid" class="form-control" onchange={{action 'onSelectAlbum' value="target.value"}}>
		  <option>Selecione</option>
		  {{#each albums as |album|}}
		    <option value={{album.id}}
	    		selected={{eq album.id model.album.id}}>
	    		{{album.albumName}}
    		</option>
		  {{/each}}
		</select>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button {{action 'back'}} type="submit" class="btn btn-danger">Back</button>
		</div>
		<div class="col-md-6 text-right">
			<button {{action 'submit'}} type="submit" class="btn btn-info">Submit</button>
		</div>
	</div>
</form>